
h1 {
    color: crimson;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* END Sticky footer styles
-------------------------------------------------- */

.container .text-muted {
    margin: 20px 0;
}

#chart {
    height: calc(100vh - 245px);
}
.fieldWrapper {
    width: 170px;
}
